.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #2b3b84;
  margin: 0 0 16px;
}

.message {
  font-size: 16px;
  color: #868686;
  max-width: 400px;
}
