USE [QSCApps]
GO
/****** Object:  Table [dbo].[mesAnnotation]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesAnnotation](
	[Id] [uniqueidentifier] NOT NULL,
	[RecordType] [nvarchar](50) NULL,
	[AnnotationNotes] [nvarchar](2000) NULL,
	[FlagStatus] [nvarchar](50) NULL,
	[ResolutionNotes] [nvarchar](1000) NULL,
	[SiteCode] [nvarchar](20) NULL,
	[IsTest] [int] NULL,
	[AnnotationDateTime] [datetime2](7) NULL,
	[InitiatedById] [uniqueidentifier] NULL,
	[AnnotationTypeUID] [uniqueidentifier] NULL,
	[RecordUID] [uniqueidentifier] NULL,
	[ResolvedByUID] [uniqueidentifier] NULL,
	[SystemTypeInfo] [nvarchar](200) NULL,
 CONSTRAINT [PK_mesAnnotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesAnnotationType]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesAnnotationType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[RecordType] [nvarchar](50) NULL,
	[RequiresResolution] [bit] NULL,
	[AnnotationColor] [nvarchar](20) NULL,
	[OperatorAllowed] [bit] NULL,
	[Abbreviation] [nvarchar](2) NULL,
 CONSTRAINT [PK_mesAnnotationType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesAsset]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesAsset](
	[Id] [uniqueidentifier] NOT NULL,
	[AssetName] [nvarchar](100) NULL,
	[AssetType] [nvarchar](100) NULL,
	[SiteCode] [nvarchar](10) NULL,
	[MaintenanceIdentifier] [nvarchar](50) NULL,
	[LaneName] [nvarchar](50) NULL,
 CONSTRAINT [PK_mesAsset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesChangeLog]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesChangeLog](
	[Id] [uniqueidentifier] NOT NULL,
	[RecordTable] [nvarchar](200) NULL,
	[RecordId] [uniqueidentifier] NULL,
	[ChangeDateTime] [datetime2](7) NULL,
	[ChangeByUserId] [uniqueidentifier] NULL,
	[FieldName] [nvarchar](200) NULL,
	[FromValue] [nvarchar](2000) NULL,
	[ToValue] [nvarchar](2000) NULL,
	[FromValueId] [uniqueidentifier] NULL,
	[ToValueId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mesChangeLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesCharacteristic]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesCharacteristic](
	[Id] [uniqueidentifier] NOT NULL,
	[Characteristic] [nvarchar](500) NULL,
	[SpecLimitHigh] [decimal](18, 6) NULL,
	[SpecLimitLow] [decimal](18, 6) NULL,
	[SpecLimitTarget] [decimal](18, 6) NULL,
	[SpecLimitsInclude] [int] NULL,
	[ProductTypeId] [uniqueidentifier] NULL,
	[ProductId] [uniqueidentifier] NULL,
	[EnableLocDetail1] [bit] NULL,
	[EnableLocDetail2] [bit] NULL,
	[LocDetail1Name] [nvarchar](50) NULL,
	[LocDetail2Name] [nvarchar](50) NULL,
	[LookupId] [int] NULL,
 CONSTRAINT [PK_mesCharacteristic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_mesCharacteristic_LookupId] UNIQUE NONCLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesCharacteristicWorkCenter]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesCharacteristicWorkCenter](
	[Id] [uniqueidentifier] NOT NULL,
	[CharacteristicId] [uniqueidentifier] NULL,
	[WorkCenterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mesCharacteristicWorkCenter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesControlPlan]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesControlPlan](
	[Id] [uniqueidentifier] NOT NULL,
	[CharacteristicId] [uniqueidentifier] NULL,
	[SiteCode] [nvarchar](20) NULL,
	[CollectionWorkCenterId] [uniqueidentifier] NULL,
	[CollectionEnabled] [int] NULL,
	[ResultType] [nvarchar](50) NULL,
	[IsRemoved] [int] NULL,
	[IsGateCheck] [int] NULL,
	[IsTest] [int] NULL,
 CONSTRAINT [PK_mesControlPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesDefectLocation]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesDefectLocation](
	[Id] [uniqueidentifier] NOT NULL,
	[LocationName] [nvarchar](500) NULL,
	[CharacteristicId] [uniqueidentifier] NULL,
	[DefaultLocDetails1] [decimal](18, 6) NULL,
	[DefaultLocDetails2] [decimal](18, 6) NULL,
	[LookupId] [int] NULL,
 CONSTRAINT [PK_mesDefectLocation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_mesDefectLocation_LookupId] UNIQUE NONCLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesDefectLog]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesDefectLog](
	[Id] [uniqueidentifier] NOT NULL,
	[ManufacturingLogId] [uniqueidentifier] NULL,
	[SerialNumberMasterId] [uniqueidentifier] NULL,
	[DefectId] [uniqueidentifier] NULL,
	[WorkCenterId] [uniqueidentifier] NULL,
	[CharacteristicId] [uniqueidentifier] NULL,
	[DefectLocationId] [uniqueidentifier] NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[ModifiedByUserId] [uniqueidentifier] NULL,
	[ModifiedDateTime] [datetime2](7) NULL,
	[RepairedByUserId] [uniqueidentifier] NULL,
	[RepairedDateTime] [datetime2](7) NULL,
	[IsTest] [int] NULL,
	[LocDetails1] [decimal](18, 6) NULL,
	[LocDetails2] [decimal](18, 6) NULL,
	[LocDetailsCode] [nvarchar](10) NULL,
	[SpotResultNo] [nvarchar](2) NULL,
 CONSTRAINT [PK_mesDefectLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesDefectMaster]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesDefectMaster](
	[Id] [uniqueidentifier] NOT NULL,
	[DefectCode] [int] NULL,
	[DefectName] [nvarchar](200) NULL,
	[SystemTypeName] [nvarchar](100) NULL,
	[AllowDelete] [bit] NULL,
	[DefectSeverity] [int] NULL,
 CONSTRAINT [PK_mesDefectMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_mesDefectMaster_DefectCode] UNIQUE NONCLUSTERED 
(
	[DefectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesDefectWorkCenter]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesDefectWorkCenter](
	[Id] [uniqueidentifier] NOT NULL,
	[DefectId] [uniqueidentifier] NULL,
	[WorkCenterId] [uniqueidentifier] NULL,
	[EarliestWorkCenterId] [uniqueidentifier] NULL,
	[RepairMasterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mesDefectWorkCenter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesErrorLog]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesErrorLog](
	[Id] [uniqueidentifier] NOT NULL,
	[ErrorDateTime] [datetime2](7) NULL,
	[ErrorKind] [nvarchar](100) NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[ErrorSource] [nvarchar](500) NULL,
	[ErrorObserved] [nvarchar](2000) NULL,
	[ErrorDetails] [nvarchar](4000) NULL,
	[PowerAppsUsername] [nvarchar](200) NULL,
	[SiteCode] [nvarchar](20) NULL,
	[MESUsername] [nvarchar](200) NULL,
	[IsTest] [int] NULL,
 CONSTRAINT [PK_mesErrorLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesHeartbeat]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesHeartbeat](
	[Id] [uniqueidentifier] NOT NULL,
	[HeartbeatDateTime] [datetime2](7) NULL,
	[SiteCode] [nvarchar](20) NULL,
	[WorkCenter] [nvarchar](100) NULL,
	[RoundtripDateTime] [datetime2](7) NULL,
 CONSTRAINT [PK_mesHeartbeat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesKanbanCards]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesKanbanCards](
	[Id] [uniqueidentifier] NOT NULL,
	[ColorName] [nvarchar](50) NULL,
	[ColorCode] [nvarchar](20) NULL,
	[BarcodeValue] [nvarchar](50) NULL,
	[SiteCode] [nvarchar](20) NULL,
	[IsTest] [int] NULL,
 CONSTRAINT [PK_mesKanbanCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesManufacturingInspectionsLog]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesManufacturingInspectionsLog](
	[Id] [uniqueidentifier] NOT NULL,
	[ManufacturingLogId] [uniqueidentifier] NOT NULL,
	[ControlPlanId] [uniqueidentifier] NOT NULL,
	[ResultType] [nvarchar](50) NULL,
	[ResultText] [nvarchar](100) NULL,
	[ResultNumber] [decimal](18, 6) NULL,
	[IsTest] [int] NULL,
	[SerialNumberId] [uniqueidentifier] NULL,
	[SpotIncrementId] [uniqueidentifier] NULL,
	[SystemNotes] [nvarchar](100) NULL,
 CONSTRAINT [PK_mesManufacturingInspectionsLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesManufacturingLog]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesManufacturingLog](
	[Id] [uniqueidentifier] NOT NULL,
	[SerialNumberMasterId] [uniqueidentifier] NOT NULL,
	[LogDateTime] [datetime2](7) NOT NULL,
	[WorkCenterId] [uniqueidentifier] NULL,
	[ProductionLineId] [uniqueidentifier] NULL,
	[PlantGearId] [uniqueidentifier] NULL,
	[CompletedByUserId] [nvarchar](50) NULL,
	[IsTest] [int] NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[ModifiedByUserId] [uniqueidentifier] NULL,
	[ModifiedDateTime] [datetime2](7) NULL,
	[EventType] [nvarchar](50) NULL,
	[AssetId] [uniqueidentifier] NULL,
	[ProductIdIn] [uniqueidentifier] NULL,
	[ProductIdOut] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mesManufacturingLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesManufacturingLogWelder]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesManufacturingLogWelder](
	[Id] [uniqueidentifier] NOT NULL,
	[ManufacturingLogId] [uniqueidentifier] NOT NULL,
	[WelderUserId] [uniqueidentifier] NOT NULL,
	[IsTest] [int] NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[ModifiedByUserId] [uniqueidentifier] NULL,
	[ModifiedDateTime] [datetime2](7) NULL,
	[CharacteristicId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mesManufacturingLogWelder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesManufacturingTraceLog]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesManufacturingTraceLog](
	[Id] [uniqueidentifier] NOT NULL,
	[SerialNumberMasterId] [uniqueidentifier] NOT NULL,
	[SerialNumberComponentId] [uniqueidentifier] NOT NULL,
	[ManufacturingLogId] [uniqueidentifier] NOT NULL,
	[Quantity] [decimal](18, 6) NULL,
	[IsTest] [int] NULL,
	[TankLocation] [nvarchar](50) NULL,
 CONSTRAINT [PK_mesManufacturingTraceLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesPlantGears]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesPlantGears](
	[Id] [uniqueidentifier] NOT NULL,
	[GearName] [nvarchar](200) NULL,
	[Gear] [int] NULL,
 CONSTRAINT [PK_mesPlantGears] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesProduct]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesProduct](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](200) NULL,
	[TankSize] [int] NULL,
	[SageItemNo] [nvarchar](50) NULL,
	[ProductNumber] [nvarchar](50) NULL,
	[ProductTypeId] [nvarchar](50) NULL,
	[SiteNumbers] [nvarchar](50) NULL,
	[TankType] [nvarchar](50) NULL,
	[NameplateProductNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_mesProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesProductionLine]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesProductionLine](
	[Id] [uniqueidentifier] NOT NULL,
	[LineName] [nvarchar](200) NULL,
	[SiteNo] [nvarchar](20) NULL,
	[PlantGearId] [uniqueidentifier] NULL,
	[ShellLabelCode] [nvarchar](1) NULL,
 CONSTRAINT [PK_mesProductionLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesProductType]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesProductType](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductTypeName] [nvarchar](200) NULL,
	[SystemTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_mesProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesSerialNumberMaster]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesSerialNumberMaster](
	[Id] [uniqueidentifier] NOT NULL,
	[SerialNumber] [nvarchar](200) NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[SiteCode] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](4000) NULL,
	[IsTest] [int] NULL,
	[MillVendorId] [uniqueidentifier] NULL,
	[ProcessorVendorId] [uniqueidentifier] NULL,
	[CoilNumber] [nvarchar](50) NULL,
	[HeatNumber] [nvarchar](50) NULL,
	[LotNumber] [nvarchar](50) NULL,
	[ReviewFlag] [nvarchar](50) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[ModifiedByUserId] [uniqueidentifier] NULL,
	[ModifiedDateTime] [datetime2](7) NULL,
	[HeadsVendorId] [uniqueidentifier] NULL,
	[ReplaceBySNId] [uniqueidentifier] NULL,
	[RS1Changed] [bit] NULL,
	[RS2Changed] [bit] NULL,
	[RS3Changed] [bit] NULL,
	[RS4Changed] [bit] NULL,
	[IsObsolete] [bit] NULL,
 CONSTRAINT [PK_mesSerialNumberMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesSite]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesSite](
	[Id] [uniqueidentifier] NOT NULL,
	[SiteName] [nvarchar](200) NULL,
	[SiteNoFull] [nvarchar](20) NULL,
	[CurrentPlantGearId] [uniqueidentifier] NULL,
	[NextDateSeqCode] [nvarchar](20) NULL,
	[NextTankCountSeqCode] [nvarchar](20) NULL,
	[NextDateCode] [nvarchar](20) NULL,
	[NextTankAlphaCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_mesSite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesSiteSchedule]    Script Date: 2/19/2026 3:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesSiteSchedule](
	[Id] [uniqueidentifier] NOT NULL,
	[SiteCode] [nvarchar](20) NULL,
	[Quantity] [decimal](18, 6) NULL,
	[QuantityComplete] [decimal](18, 6) NULL,
	[TankSize] [int] NULL,
	[TankType] [nvarchar](500) NULL,
	[ItemNo] [nvarchar](50) NULL,
	[ColorName] [nvarchar](100) NULL,
	[ColorValue] [nvarchar](50) NULL,
	[BuildDate] [datetime2](7) NULL,
	[DispatchDate] [datetime2](7) NULL,
	[Comments] [nvarchar](1000) NULL,
	[IsTest] [int] NULL,
	[MasterScheduleId] [uniqueidentifier] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_mesSiteSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesSpotXrayIncrement]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesSpotXrayIncrement](
	[Id] [uniqueidentifier] NOT NULL,
	[ManufacturingLogId] [uniqueidentifier] NOT NULL,
	[IncrementNo] [nvarchar](50) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[ModifiedByUserId] [uniqueidentifier] NULL,
	[ModifiedDateTime] [datetime2](7) NULL,
	[OverallStatus] [nvarchar](50) NOT NULL,
	[LaneNo] [nvarchar](50) NOT NULL,
	[IsDraft] [int] NULL,
	[TankSize] [int] NULL,
	[InspectTank] [nvarchar](200) NULL,
	[Seam1ShotNo] [nvarchar](50) NULL,
	[Seam1Date] [date] NULL,
	[Seam1Result] [nvarchar](50) NULL,
	[Seam1Trace1ShotNo] [nvarchar](50) NULL,
	[Seam1Trace1ShotDate] [date] NULL,
	[Seam1Trace1Tank] [nvarchar](200) NULL,
	[Seam1Trace1Result] [nvarchar](50) NULL,
	[Seam1Trace2ShotNo] [nvarchar](50) NULL,
	[Seam1Trace2ShotDate] [date] NULL,
	[Seam1Trace2Tank] [nvarchar](200) NULL,
	[Seam1Trace2Result] [nvarchar](50) NULL,
	[Seam1FinalShotNo] [nvarchar](500) NULL,
	[Seam1FinalShotDate] [date] NULL,
	[Seam1FinalResult] [nvarchar](50) NULL,
	[Seam2ShotNo] [nvarchar](50) NULL,
	[Seam2Date] [date] NULL,
	[Seam2Result] [nvarchar](50) NULL,
	[Seam2Trace1ShotNo] [nvarchar](50) NULL,
	[Seam2Trace1ShotDate] [date] NULL,
	[Seam2Trace1Tank] [nvarchar](200) NULL,
	[Seam2Trace1Result] [nvarchar](50) NULL,
	[Seam2Trace2ShotNo] [nvarchar](50) NULL,
	[Seam2Trace2ShotDate] [date] NULL,
	[Seam2Trace2Tank] [nvarchar](200) NULL,
	[Seam2Trace2Result] [nvarchar](50) NULL,
	[Seam2FinalShotNo] [nvarchar](500) NULL,
	[Seam2FinalShotDate] [date] NULL,
	[Seam2FinalResult] [nvarchar](50) NULL,
	[Seam3ShotNo] [nvarchar](50) NULL,
	[Seam3Date] [date] NULL,
	[Seam3Result] [nvarchar](50) NULL,
	[Seam3Trace1ShotNo] [nvarchar](50) NULL,
	[Seam3Trace1ShotDate] [date] NULL,
	[Seam3Trace1Tank] [nvarchar](200) NULL,
	[Seam3Trace1Result] [nvarchar](50) NULL,
	[Seam3Trace2ShotNo] [nvarchar](50) NULL,
	[Seam3Trace2ShotDate] [date] NULL,
	[Seam3Trace2Tank] [nvarchar](200) NULL,
	[Seam3Trace2Result] [nvarchar](50) NULL,
	[Seam3FinalShotNo] [nvarchar](500) NULL,
	[Seam3FinalShotDate] [date] NULL,
	[Seam3FinalResult] [nvarchar](50) NULL,
	[Seam4ShotNo] [nvarchar](50) NULL,
	[Seam4Date] [date] NULL,
	[Seam4Result] [nvarchar](50) NULL,
	[Seam4Trace1ShotNo] [nvarchar](50) NULL,
	[Seam4Trace1ShotDate] [date] NULL,
	[Seam4Trace1Tank] [nvarchar](200) NULL,
	[Seam4Trace1Result] [nvarchar](50) NULL,
	[Seam4Trace2ShotNo] [nvarchar](50) NULL,
	[Seam4Trace2ShotDate] [date] NULL,
	[Seam4Trace2Tank] [nvarchar](200) NULL,
	[Seam4Trace2Result] [nvarchar](50) NULL,
	[Seam4FinalShotNo] [nvarchar](500) NULL,
	[Seam4FinalShotDate] [date] NULL,
	[Seam4FinalResult] [nvarchar](50) NULL,
	[InspectTankId] [uniqueidentifier] NULL,
	[Welder1] [nvarchar](300) NULL,
	[Welder2] [nvarchar](300) NULL,
	[Welder3] [nvarchar](300) NULL,
	[Welder4] [nvarchar](300) NULL,
 CONSTRAINT [PK_mesSpotXrayIncrement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesUser]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesUser](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[EmployeeNo] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[EmailAddress] [nvarchar](300) NULL,
	[DefaultSiteId] [uniqueidentifier] NULL,
	[IsDisabled] [int] NULL,
	[Pin] [nvarchar](20) NULL,
	[UserType] [int] NULL,
	[RequirePinForLogin] [bit] NULL,
	[AllowSiteSelection] [bit] NULL,
 CONSTRAINT [PK_mesUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesUserNotification]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesUserNotification](
	[Id] [uniqueidentifier] NOT NULL,
	[NotifyStartDateTime] [datetime2](7) NULL,
	[NotifyEndDateTime] [datetime2](7) NULL,
	[SiteCode] [nvarchar](20) NULL,
	[Title] [nvarchar](1000) NULL,
	[NotifyMessage] [nvarchar](max) NULL,
	[DisplayToAll] [int] NULL,
	[DisplayAtWorkCenterId] [uniqueidentifier] NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[ModifiedByUserId] [uniqueidentifier] NULL,
	[ModifiedDateTime] [datetime2](7) NULL,
 CONSTRAINT [PK_mesUserNotification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesUsersCurrent]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesUsersCurrent](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[LoginDateTime] [datetime2](7) NULL,
	[SiteNo] [nvarchar](20) NULL,
	[WorkCenterId] [uniqueidentifier] NULL,
	[IsTest] [int] NULL,
 CONSTRAINT [PK_mesUsersCurrent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesVendor]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesVendor](
	[Id] [uniqueidentifier] NOT NULL,
	[VendorName] [nvarchar](200) NULL,
	[SiteCode] [nvarchar](10) NULL,
	[IsMill] [bit] NULL,
	[IsProcessor] [bit] NULL,
	[VendorType] [nvarchar](50) NULL,
	[SageVendorNo] [nvarchar](20) NULL,
 CONSTRAINT [PK_mesVendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesWorkCenter]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesWorkCenter](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkCenterName] [nvarchar](100) NULL,
	[SiteCode] [nvarchar](10) NULL,
	[DataEntryType] [nvarchar](20) NULL,
	[MaterialQueueForWCId] [uniqueidentifier] NULL,
	[NoOfWelders] [int] NULL,
	[AllowRecordDefects] [bit] NULL,
	[ForceLabelValidation] [bit] NULL,
	[ProductionSequence] [decimal](18, 6) NULL,
 CONSTRAINT [PK_mesWorkCenter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesWorkCenterDownsteamWClink]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesWorkCenterDownsteamWClink](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkCenterId] [uniqueidentifier] NULL,
	[DownstreamWorkCenterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mesWorkCenterDownsteamWClink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesWorkCenterMaterialQueue]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesWorkCenterMaterialQueue](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkCenterId] [uniqueidentifier] NOT NULL,
	[SerialNumberMasterId] [uniqueidentifier] NOT NULL,
	[QueuePosition] [decimal](18, 6) NULL,
	[QueueStatus] [nvarchar](50) NULL,
	[QueueForWorkCenterId] [uniqueidentifier] NULL,
	[Quantity] [decimal](18, 6) NULL,
	[IsTest] [int] NULL,
	[IsVisible] [int] NULL,
	[CreateDateTime] [datetime2](7) NULL,
	[KanbanCardId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mesWorkCenterMaterialQueue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesXrayShotNumber]    Script Date: 2/19/2026 3:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesXrayShotNumber](
	[Id] [uniqueidentifier] NOT NULL,
	[SiteNoFull] [nvarchar](20) NULL,
	[LastDate] [datetime2](7) NULL,
	[LastNumber] [int] NULL,
	[LastDateText] [nvarchar](50) NULL,
 CONSTRAINT [PK_mesXrayShotNumber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mesAnnotation] ADD  CONSTRAINT [DF_mesAnnotation_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesAnnotationType] ADD  CONSTRAINT [DF_mesAnnotationType_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesAsset] ADD  CONSTRAINT [DF_mesAsset_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesChangeLog] ADD  CONSTRAINT [DF_mesChangeLog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesCharacteristic] ADD  CONSTRAINT [DF_mesCharacteristic_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesCharacteristicWorkCenter] ADD  CONSTRAINT [DF_mesCharacteristicWorkCenter_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesControlPlan] ADD  CONSTRAINT [DF_mesControlPlan_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesDefectLocation] ADD  CONSTRAINT [DF_mesDefectLocation_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesDefectLog] ADD  CONSTRAINT [DF_mesDefectLog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesDefectMaster] ADD  CONSTRAINT [DF_mesDefectMaster_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesDefectWorkCenter] ADD  CONSTRAINT [DF_mesDefectWorkCenter_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesErrorLog] ADD  CONSTRAINT [DF_mesErrorLog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesHeartbeat] ADD  CONSTRAINT [DF_mesHeartbeat_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesKanbanCards] ADD  CONSTRAINT [DF_mesKanbanCards_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesManufacturingInspectionsLog] ADD  CONSTRAINT [DF_mesManufacturingInspectionsLog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesManufacturingLog] ADD  CONSTRAINT [DF_mesManufacturingLog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesManufacturingLogWelder] ADD  CONSTRAINT [DF_mesManufacturingLogWelder_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesManufacturingTraceLog] ADD  CONSTRAINT [DF_mesManufacturingTraceLog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesPlantGears] ADD  CONSTRAINT [DF_mesPlantGears_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesProduct] ADD  CONSTRAINT [DF_mesProduct_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesProductionLine] ADD  CONSTRAINT [DF_mesProductionLine_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesProductType] ADD  CONSTRAINT [DF_mesProductType_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesSerialNumberMaster] ADD  CONSTRAINT [DF_mesSerialNumberMaster_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesSite] ADD  CONSTRAINT [DF_mesSite_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesSiteSchedule] ADD  CONSTRAINT [DF_mesSiteSchedule_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesSpotXrayIncrement] ADD  CONSTRAINT [DF_mesSpotXrayIncrement_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesUserNotification] ADD  CONSTRAINT [DF_mesUserNotification_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesUsersCurrent] ADD  CONSTRAINT [DF_mesUsersCurrent_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesVendor] ADD  CONSTRAINT [DF_mesVendor_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesWorkCenter] ADD  CONSTRAINT [DF_mesWorkCenter_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesWorkCenterDownsteamWClink] ADD  CONSTRAINT [DF_mesWorkCenterDownsteamWClink_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesWorkCenterMaterialQueue] ADD  CONSTRAINT [DF_mesWorkCenterMaterialQueue_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[mesXrayShotNumber] ADD  CONSTRAINT [DF_mesXrayShotNumber_Id]  DEFAULT (newid()) FOR [Id]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This value comes from the User''s table in Dataverse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'mesUser', @level2type=N'COLUMN',@level2name=N'Id'
GO
