.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 12px;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 480px;
  width: 100%;
  background: #f8f9fa;
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.dropdown {
  min-height: 40px;
}

.input {
  min-height: 56px;
}

.submitBtn {
  min-height: 56px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0 !important;
  margin-top: 8px;
}
